# Header 1
## Smaller Hea


adsasdadadsdasdasd

- List
    - sublist
- List 2


1. asddas
2. sadasd

# Header 1
## Header 2
### Header 3

This is text

## This is how you initialize a dash list
- This is a element of a list

## This is how you initialize a numbered list

1. This is a numbered list
1. This is a numbered list 2

**This is bold**

In [ ]:
# adasfafs

## This is a comment in Python

In [ ]:
# This a comment in python

# 1. Basic Data Types

In [ ]:
1 # -> Integer
2.5 # -> Decimal
"String" # -> String
"sdasfaf sda sdad asd adaw "
True # -> Boolean
False

In [ ]:
17 # This is an integer
17.5 # This is a double/flotation point
"ThiS is A StRing" # This is a String
'This is a String as well' # This is a String as well
True # This is a boolean
False # This is also a boolean

# 2 Basic Operations

In [1]:
1+1

2

In [2]:
1-1

0

In [3]:
2*2

4

In [4]:
4/2

2.0

In [5]:
2**3

8

In [ ]:
3 + 4 # Example of Summation

In [ ]:
4 / 4 # Example of Division
3 / 4 # This is also division

In [ ]:
3 * 4 # This is multiplication

In [ ]:
2**3 # Exponentiation/ to do power of

In [6]:
1000 % 22 # Example of modulos

10

In [ ]:
11 // 2 # Floor division

In [7]:
"A" + "B"

'AB'

In [ ]:
"A" * 5

# 3 These are variables

## Variables must start with letters abd must be alphanumerica. But _ are allowed

In [ ]:
# This how you initialize a variable
variable = 1

In [ ]:
# This is how you call a variable
variable

In [ ]:
# Using _ to split variable
new_variable = 2
new_variable

In [ ]:
# Reasign Variable
variable = 2
variable

In [ ]:
# add two previously assigned variables
third_variable = variable + new_variable
third_variable

In [ ]:
# Changing data type of variable
number_variable = 4
string_variable = "Hello"
number_variable = string_variable

In [ ]:
number_variable = 4
sum_variable = number_variable + string_variable
sum_variable

# Comparison/Logical Operators

In [8]:
# Equals Comparison Operator
number_1 = 1
number_2 = 1
number_1 == number_2

True

In [9]:
# Not equals Operator 
number_1 = 1
number_2 = 2
number_1 != number_2

True

In [10]:
# Less than Operator 
number_1 = 1
number_2 = 2
number_1 < number_2

True

In [11]:
# Greater than Operator 
number_1 = 1
number_2 = 2
number_1 > number_2

False

In [12]:
# Less than or Equals Operator  
number_1 = 1
number_2 = 2
number_1 <= number_2

True

In [13]:
# Greater than or Equals Operator  
number_1 = 1
number_2 = 2
number_1 >= number_2

False

# The Print() function
## Outputs information to the console

In [14]:
print(1)

1

In [15]:
print(1 + 1)

2

In [16]:
print("Hello, World")

Hello, World

In [17]:
my_variable = "Hello "
print(my_variable)

Hello

In [18]:
# Combining variables in a print function
second_variable = "World"
print(my_variable + second_variable)
# Every comma within the print function is a space
print(my_variable, second_variable)

Hello World
Hello  World

In [19]:
world = "World"
# A mixture of direct declaration and variable assignment
print("Hello", world)
# Usin f strings
print(f"Hello {world}")

Hello World
Hello World

# If..else statments

In [22]:
number = 6
if number == 5: # Colon to end the expression
    print("Hello World")
    print("Another Line")
print("A third Line")

A third Line

In [23]:
# Example of nested if statements

number = 6
second_number = 7
if number == 6: # Don't forget the colon
    print("Hello World")
    if second_number == 7:
        print("Hello")
        if second_number > 1:
            print("World")
        print("Mouse")

Hello World
Hello
World
Mouse

# Exercise 1