# Header 1
## Header 2
### Header 3

This is text

## This is how you initialize a dash list
- This is a element of a list

## This is how you initialize a numbered list

1. This is a numbered list
1. This is a numbered list 2

**This is bold**

## This is a comment in Python

In [ ]:
# This a comment in python

# 1. Basic Data Types

In [3]:
17 # This is an integer
17.5 # This is a double/flotation point
"ThiS is A StRing" # This is a String
'This is a String as well' # This is a String as well
True # This is a boolean
False # This is also a boolean

False

# 2 Basic Operations

In [4]:
3 + 4 # Example of Summation

7

In [22]:
4 / 4 # Example of Division
3 / 4 # This is also division

0.7333333333333333

In [7]:
3 * 4 # This is multiplication

12

In [10]:
2**3 # Exponentiation/ to do power of

8

In [18]:
1000 % 22 # Example of modulos

10

In [20]:
11 // 2 # Floor division

5

In [24]:
"A" + "B"

'AB'

In [26]:
"A" * 5

'AAAAA'

# 3 These are variables

## Variables must start with letters abd must be alphanumerica. But _ are allowed

In [31]:
# This how you initialize a variable
variable = 1

In [33]:
# This is how you call a variable
variable

1

In [44]:
# Using _ to split variable
new_variable = 2
new_variable

2

In [47]:
# Reasign Variable
variable = 2
variable

2

In [50]:
# add two previously assigned variables
third_variable = variable + new_variable
third_variable

4

In [54]:
# Changing data type of variable
number_variable = 4
string_variable = "Hello"
number_variable = string_variable

In [56]:
number_variable = 4
sum_variable = number_variable + string_variable
sum_variable

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Comparison/Logical Operators

In [58]:
# Equals Comparison Operator
number_1 = 1
number_2 = 1
number_1 == number_2

True

In [61]:
# Not equals Operator 
number_1 = 1
number_2 = 2
number_1 != number_2

True

In [62]:
# Less than Operator 
number_1 = 1
number_2 = 2
number_1 < number_2

True

In [63]:
# Greater than Operator 
number_1 = 1
number_2 = 2
number_1 > number_2

False

In [66]:
# Less than or Equals Operator  
number_1 = 1
number_2 = 2
number_1 <= number_2

True

In [67]:
# Greater than or Equals Operator  
number_1 = 1
number_2 = 2
number_1 >= number_2

False

# The Print() function
## Outputs information to the console

In [69]:
print(1)

1

In [70]:
print(1 + 1)

2

In [74]:
print("Hello, World")

Hello, World

In [79]:
my_variable = "Hello "
print(my_variable)

Hello

In [82]:
# Combining variables in a print function
second_variable = "World"
print(my_variable + second_variable)
# Every come within the print function is a space
print(my_variable, second_variable)

Hello World
Hello  World

In [84]:
world = "World"
# A mixture of direct declaration and variable assignment
print("Hello", world)
# Usin f strings
print(f"Hello {world}")

Hello World
Hello World

# If..else statments

In [91]:
number = 5
if number == 5: # Colon to end the expression
    print("Hello World")
    print("Another Line")
    print("A third Line")
else: # Colon to end expression
    print("Goodbye World")
    print("Another Line")

Hello World
Another Line
A third Line

In [94]:
# Example of nested if statements

number = 6
second_number = 7
if number == 6: # Don't forget the colon
    print("Hello World")
    if second_number == 7:
        print("Hello")
        if second_number > 1:
            print("World")
        print("Mouse")

Hello World
Hello
World
Mouse

# Exercise 1